Package: com.nathan.trolllock
Name: TrollLock
Description: Tweak that turns the faceID glyph into a trollface
Version: 1.0.2
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate
Maintainer: Nathan
